VITE_SEOUL_API_KEY=YOUR_SEOUL_OPEN_API_KEY
VITE_SEOUL_API_BASE_URL=http://openapi.seoul.go.kr:8088
VITE_TOUR_API_KEY=YOUR_TOUR_API_KEY
VITE_TOUR_API_BASE_URL=https://apis.data.go.kr/B551011/KorService2
